{:deps {:aliases [:dev :nextjournal/clerk]}
 :dev-http {8765 "public"}
 :builds
 {:clerk
  {:target :browser

   :modules
   {:main {:entries
           [nextjournal.viewer.notebook
            nextjournal.clerk.sci-viewer
            jsxgraph.clerk-ui]}}
   :output-dir "public/js"
   :asset-path "/js"
   :build-options
   {:ns-aliases {nextjournal.devcards nextjournal.devcards-noop}}
   :compiler-options
   {:infer-externs :auto
    :optimizations :advanced}}}}
